<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>מחולל כותרות ספרי ילדים</title>
</head>
<body>
    <a href="{{ url_for('title_generator') }}">
    <div class="border" >
        <div class="image">
            <img src="{{url_for('static', filename='nona.png')}}">
        </div>
        <div class="title">
            <p>{{ generated_title }}</p>
        </div>
    </div>
    </a>

</body>
</html>
